 <h2>
  {{model.fullName}}
  <img {{bind-attr src="model.avatar"}} class="pull-right" width=100 />
</h2>
<dl>
  <dt>First Name</dt>
  <dd>{{model.first}}</dd>
  <dt>Last Name</dt>
  <dd>{{model.last}}</dd>
</dl>